h2 {
  font-family: 'Anton', sans-serif;
  color:blue;
margin-bottom: 10px;
margin-top: 10px;
text-align: center;

}

h1 {
font-family: 'Anton', sans-serif;
margin-bottom: 10px;
color: blue;
text-align: center;
}

#cities {
font-family: Arial, Helvetica, sans-serif;
color: blueviolet;
text-align: center;
margin-left: auto;
margin-right: auto;

}

p {
font-family: Georgia, 'Times New Roman', Times, serif;
color: dodgerblue;
margin-bottom: 10px;
text-align: center;
}

body {

background-color:aquamarine;
}

nav {
  margin-bottom: 10px;
  color: dodgerblue;
  text-align: center;
}



footer {
  text-align: center;
  color: blue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

main {
  text-align: center;
  margin-bottom: 10px;
}

#sales {
  text-align: center;
}

#footer {
  text-align: left;
}


.Locations {
  color: dodgerblue;
 padding-bottom: 10px;
 
 
}

.bolded {
  font-weight:bold ;
}

.pics {
  display: flex;
  max-width: 500px;
  align-items: center;
  margin-left: 50px;
  gap: 10px;

}

body {
  align-items: center;
  flex-direction: column;
}

td {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

table {
  border: solid black;
  border-collapse: collapse;


}

th {
  border: 1px solid black;
  background-color:bisque;
}

tbody {
  background-color: bisque;
}
tfoot {
  background-color:bisque;
}
form {

padding-top: 10px;
}