h2 {
  font-family: 'Anton', sans-serif;
  color:blue;
margin-bottom: 10px;
margin-top: 10px;
text-align: center;

}

h1 {
font-family: 'Anton', sans-serif;
margin-bottom: 10px;
color: blue;
text-align: center;
}

#cities {
font-family: Arial, Helvetica, sans-serif;
color: blueviolet;
text-align: center;
margin-left: auto;
margin-right: auto;

}

p {
font-family: Georgia, 'Times New Roman', Times, serif;
color: dodgerblue;
margin-bottom: 10px;
text-align: center;
}

body {

background-color:beige;
}

nav {
  margin-bottom: 10px;
  color: dodgerblue;
  text-align: center;
}

img {
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: auto;
 margin-right: auto;
}

footer {
  text-align: center;
  color: blue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

main {
  text-align: center;
  margin-bottom: 10px;
}

#sales {
  text-align: left;
}

#footer {
  text-align: left;
}